# R and Rstudio files
.Rproj.user
.Rhistory

# vim temporary files
*~
*.swp
*.swo

# library files
*.o
*.so
*.dll

# directories
output/
/inst/bin/

# test files
/tests/testthat/input/n16790/test.list
